<div class="Heading">
  <h1>Todo List</h1>
  </div>
<div class="container">
  <li class="list-group-item" *ngFor="let todo of todoList; let id=index">
    <div class="form-check d-inline">
        <label for="complete" class="form-check-label lead">{{todo.title}} </label>
    </div>
    <div class="float-right">
      <button class="btn btn-success btn-sm mx-3" routerLink="/edit/{{todo.id}}">Edit</button>
        <button class="btn btn-danger btn-sm mx-3" (click)="deleteTodo(id)">Delete</button>
    </div>
</li>
</div>