<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand heading" href="#">Todo App</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              routerLink="/add-todo"
              routerLinkActive="text-danger"
              >Todo Create</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              routerLink="display-todo"
              routerLinkActive="text-danger"
              >Todo List</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              routerLink="signup"
              routerLinkActive="text-danger"
              >SignUp</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLinkActive="text-danger"
              >SignIn</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
